* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d1635;
    color: #fff;
  }

  #timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer-box {
      margin: 0 10px;
      padding: 20px;
      background: rgba(243, 238, 238, 0.2);
      border-radius: 10px;
      text-align: center;
      font-size: 1.7rem;
      backdrop-filter: blur(1.7rem);
  }
  
  .timer-label {
    font-size: 2rem;
    margin-top: 10px;
  }
